<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy3Ldq8ZJIuXT-nc3kYnW9t2d9B2-vhpU</string>
	<key>GCM_SENDER_ID</key>
	<string>348858623682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ap.showcase.shop</string>
	<key>PROJECT_ID</key>
	<string>showcase-33d76</string>
	<key>STORAGE_BUCKET</key>
	<string>showcase-33d76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348858623682:ios:39fd38ef464ed80e2ffd5b</string>
</dict>
</plist>